@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}
html {
    font-size: 62.5%;
}

:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navnar-height: 34px;
    --header-with-search: calc(var(--header-height) - var(--navnar-height));
}

.header {
    background-color: var(--primary-color);
}

/* Product */
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.home-product-item {
    display: block;
    margin-bottom: 20px;
    transition: all linear 0.15s;
    text-decoration: none;
}
.home-product-item + .home-product-item {
}

.home-product-item:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.home-product-item__img {
    position: relative;
}
.product__item-img {
    border-radius: 4px;
    width: 100%;
    height: auto;
}

.home-product-item__name {
    height: 42px;
    padding: 4px;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    overflow: hidden;
    line-height: 1.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price {
    color: var(--text-color);
    font-size: 1.2rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-product-item__price > .a {
    text-decoration: line-through;
}
.home-product-item__price > .b {
    color: #ee4d2d;
}

.product__item-action {
    height: 40px;
}
.product__action-icon {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__action-icon-heart i {
    font-size: 1.2rem;
    color: #f63d30;
}

.product__action-note {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__directional {
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__directional-list {
    list-style: none;
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__directional-link {
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    display: block;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 2.4rem;
}
.home__directional-link.active {
    background-color: #ee4d2d;
    color: var(--white-color);
    border-radius: 3px;
}

.home-product-item__img-logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.95);
    border-top-right-radius: 2px;
}

.home-product-item__img-logo .a {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 9px;
}
.home-product-item__img-logo .b {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}
.home-product-item__img-logo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3.4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95);
}

.home-product-item__img-lable {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    padding-right: 4px;
    border-radius: 0 3px 3px 0;
}
.home-product-item__img-lable::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__img-lable i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__img-lable span {
    color: var(--white-color);
}
